@charset "utf-8";
html {
  font-size: 12px;
}

html,
body {
  margin: 0;
  font-family: 'microsoft yahei';
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: behavior;
  background: #333;
}

h1, h2, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 100%;
}

p, dl, dd, form, figure {
  margin: 0;
}

td, th {
  padding: 0;
}

a, a:hover, time {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

a:focus {
  outline: none;
}

ol, ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  list-style-type: none;
}

table {
  border-collapse: collapse
}

img {
  border: none;
  vertical-align: middle;
}

em, i {
  font-style: normal;
}

textarea, input {
  padding: 0;
  margin: 0;
  resize: none;
  outline: none;
  vertical-align: middle;
  -webkit-appearance: none;
  font-family: 'microsoft yahei';
}

input::-ms-clear {
  display: none;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.dn {
  display: none;
}

.block {
  display: block;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.fb {
  font-weight: bold;
}

.f12 {
  font-size: 12px;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

.cl {
  clear: both;
}

.textOverflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.clearfix:before,
.clearfix:after {
  display: block;
  width: 100%;
  height: 0;
  line-height: 0;
  overflow: hidden;
  clear: both;
  content: "";
}

/*html5 reset*/
header, nav, article, section, aside, footer, figure, figcaption {
  display: block;
}

/*moon and star s*/
.moon-star,
.stars {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #121212;
  z-index: 0;
}

.moon {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 15px #ffc;
  background: #333;
  overflow: hidden;
  z-index: 1;
  animation: moon-light 3s infinite ease-out;
}

@-webkit-keyframes moon-light {
  0% {
    box-shadow: 0 0 20px #ffc;
  }
  50% {
    box-shadow: 0 0 10px #fff;
  }
  100% {
    box-shadow: 0 0 20px #ffc;
  }
}

.moon1,
.moon2,
.moon3,
.moon4 {
  position: absolute;
  border-radius: 50%;
  background: rgba(0, 0, 0, .3);
  box-shadow: inset 3px 3px 0 rgba(0, 0, 0, .2);
}

.moon1 {
  width: 20px;
  height: 20px;
  left: 25%;
  top: 20%;
}

.moon2 {
  width: 10px;
  height: 10px;
  left: 50%;
  top: 60%;
}

.moon3 {
  width: 15px;
  height: 15px;
  left: 30%;
  top: 65%;
}

.moon4 {
  width: 15px;
  height: 15px;
  left: 60%;
  top: 35%;
}

.star {
  display: inline-block;
  position: relative;
  top: 10%;
  left: 20%;
  border: 0px solid #ffc;
  border-width: 0px 90px 2px 90px;
  border-color: transparent transparent transparent rgba(255, 255, 204, .5);
  transform: rotate(-45deg) translate3d(1px, 3px, 0);
  box-shadow: 0 0 1px 0 rgba(255, 255, 204, .1);
  transform-origin: 0% 100%;
}
/*moon and star e*/