.pb-wrap, .pb-menu {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.pb-menu {
  position: relative;
  top: 150px;
  height: 120px;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.pb-home {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
}

.pb-circle {
  width: 100px;
  height: 100px;
  border: 10px solid #c7f2ff;
  border-right-color: #3fa1e6;
  border-bottom-color: #3fa1e6;
  border-radius: 50%;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.pb-home a:hover .pb-circle {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.pb-nav {
  position: absolute;
  text-align: center;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  opacity: 1;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.pb-home-icon {
  display: inline-block;
  position: relative;
  left: 46px;
  bottom: 60px;
  width: 30px;
  height: 20px;
  border-radius: 0 0 2px 2px;
  background: #fff;
  opacity: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.pb-home-icon:before, .pb-home-icon:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}

.pb-home-icon:before {
  top: -21px;
  left: -6px;
  border-left: 21px solid transparent;
  border-right: 21px solid transparent;
  border-bottom: 21px solid #fff;
}

.pb-home-icon:after {
  top: 5px;
  left: 10px;
  width: 10px;
  height: 10px;
  background: #000;
}

.pb-nav h3 {
  line-height: 100px;
  font-size: 24px;
  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, .3);
  color: #000;
  text-shadow: 0 1px 2px #fff;
}

.pb-home a:hover .pb-nav {
  opacity: 0;
}

.pb-home a:hover .pb-home-icon {
  opacity: .8;
}
