.pb-menu {
    position: relative;
    max-width: 1226px;
    height: 120px;
    margin: 20px auto 50px;
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    z-index: 10;
}

.pb-home {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
    background: rgba(0, 0, 0, .8);
    overflow: hidden;
    z-index: 1;
}

.pb-circle {
    width: 100px;
    height: 100px;
    border: 10px solid #c7f2ff;
    border-right-color: #3fa1e6;
    border-bottom-color: #3fa1e6;
    border-radius: 50%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.pb-home a:hover .pb-circle {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.pb-index {
    position: absolute;
    text-align: center;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 100px;
    opacity: 1;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.pb-home-icon {
    display: block;
    position: absolute;
    left: 45px;
    top: 45px;
    width: 30px;
    height: 30px;
    background: #c7f2ff;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.pb-home-icon i {
    display: block;
    position: absolute;
    top: 18px;
    left: 16px;
    width: 15px;
    height: 10px;
    border-radius: 1px;
    background: #000;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 30;
}

.pb-home-icon:before, .pb-home-icon:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
}

.pb-home-icon:before {
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    border: 3px solid #000;
    background: #c7f2ff;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.pb-home-icon:after {
    top: 9px;
    left: 16px;
    width: 15px;
    height: 28px;
    background: #c7f2ff;
    border-radius: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.pb-index h3 {
    line-height: 100px;
    font-size: 20px;
    color: #000;
    text-shadow: 0 1px 2px #c7f2ff;
}

.pb-home a:hover .pb-index {
    opacity: 0;
}

.pb-home a:hover .pb-home-icon {
    opacity: .8;
}

.pb-home:hover ~ .pb-nav {
    width: 613px;
    height: 100px;
}

.pb-home.active ~ .pb-nav ul li.pb-nav-li1 {
    -webkit-transform: translatex(-510px);
    transform: translatex(-510px);
}

.pb-home.active ~ .pb-nav ul li.pb-nav-li2 {
    -webkit-transform: translatex(-375px);
    transform: translatex(-375px);
}

.pb-home.active ~ .pb-nav ul li.pb-nav-li3 {
    -webkit-transform: translatex(-250px);
    transform: translatex(-250px);
}

.pb-home.active ~ .pb-nav ul li.pb-nav-li4 {
    -webkit-transform: translatex(-125px);
    transform: translatex(-125px);
}

.pb-home.active ~ .pb-nav.r ul li.pb-nav-li5 {
    -webkit-transform: translatex(125px);
    transform: translatex(125px);
}

.pb-home.active ~ .pb-nav.r ul li.pb-nav-li6 {
    -webkit-transform: translatex(250px);
    transform: translatex(250px);
}

.pb-home.active ~ .pb-nav.r ul li.pb-nav-li7 {
    -webkit-transform: translatex(375px);
    transform: translatex(375px);
}

.pb-home.active ~ .pb-nav.r ul li.pb-nav-li8 {
    -webkit-transform: translatex(510px);
    transform: translatex(510px);
}

.pb-nav {
    position: absolute;
    left: 0;
    top: 10px;
    width: 50%;
    height: 100px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.pb-nav ul {
    position: relative;
    right: -50px;
    width: auto;
    height: 100px;
}

.pb-nav li {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100px;
    height: 100px;
    margin-left: -100px;
    line-height: 100px;
    border-radius: 50px;
    border: 1px solid #3fa1e6;
    background: rgba(0, 0, 0, .8);
    font-size: 16px;
    text-align: center;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
}

.pb-nav li a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

.pb-nav li a:before {
    display: inline-block;
    vertical-align: middle;
    content: '';
    height: 100%;
    width: 0;
    overflow: hidden;
}

.pb-nav li:hover {
    box-shadow: 0 0 8px #c7f2ff;
}

.pb-nav li a div {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
}

.pb-nav.r {
    left: inherit;
    right: 0;
}

.pb-nav.r ul {
    left: -50px;
    margin-left: 25px;
}

.pb-nav.r ul li {
    left: inherit;
    margin-left: inherit;
}

.pb-wrap-child .pb-home-icon {
    bottom: 232px;
}